html{
  height: 100%;
  position: relative;
}

body{ 
  margin:0;
  padding:0;
  overflow:hidden;
  height:100%;
  position: relative;
}

#root{
  height: 100%;
  position: relative;
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}